@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

#kenken {
	float: right;
	border-collapse: collapse;
    border-spacing: 0;
}

#kenken td {
	border: 1px solid grey;
	text-align:center; 
    vertical-align:middle;
    font-size: 16px;
    font-size: 2vw;
    position: relative;
}

#controls {
	float: left;
}

.hint {
    position: absolute;
    font-size: 60%;
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
    top: 0px;
    left: 0px;
}